<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGPT - App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div class="person-selector">
      <button class="button person-selector-button active-person" id="chatgpt-selector">ChatGPT</button>
      <button class="button person-selector-button" id="human-selector">Human</button>
    </div>
    <div class="chat-container">
      <h2 class="chat-header">ChatGPT question...</h2>

      <div class="chat-messages">
        <div class="message blue-bg">
          <div class="message-sender">ChatGPT</div>
          <div class="message-text">Any Question do you have ?</div>
          <div class="message-timestamp">10:30 AM</div>
        </div>
        <div class="message gray-bg">
          <div class="message-sender">Human</div>
          <div class="message-text">Wait for me </div>
          <div class="message-timestamp">10:35 AM</div>
        </div>
      </div>

      <form class="chat-input-form">
        <input type="text" class="chat-input" required placeholder="Type here, Any Question..." />
        <button type="submit" class="button send-button">Send</button>
      </form>
      <button class="button clear-chat-button">Clear Chat</button>
    </div>

    <script src="app.js"></script>
  </body>
</html>
